.errorPag {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}


.errorRoj {
  background-color: #DBF3DE;
  border-radius: 48px;
  box-shadow: 0 10px 10px 5px #D9D9D9;
  width: 800px;
  height: 300px;
  text-align: center;
  align-content: center;
}

@media (max-width: 768px ){
  .errorRoj {
    width: 500px;
    height: 250px;
  }

    .classErr {
     background-color: white;
  }

}


