.nav-movil{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--pastelGreenKakeibo) !important;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logos-movil{
  width: 24px; 
  height: 24px;
  color: var(--darkGreenKakeibo);
}


.active-link-movil {
  background-color: var(--yellowKakeibo) !important;
  width: 60px; 
  height: 45px;
  border-radius: 20px;
  border: solid 1px  #dbd951cf !important;
}
