.select-country > .css-13cymwt-control {
  color: var(--darkGreenKakeibo);
  font-weight: 500;
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 0 15px;
  margin-inline: 10px;
  width: 300px !important;
  box-shadow: 0 0 4px 1px var(--grayKakeibo);
}

.css-b62m3t-container {
  display: flex;
  justify-content: center;
}