.title-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-login{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 20px;
}

.main-box-login{
  width: 600px;
  height: 100%;
  padding: 20px;
  background-color: var(--pastelGreenKakeibo);
  box-shadow: 0 10px 10px 5px #D9D9D9;
  border-radius: 30px;
}

.form-reg {
  input[type="text"],
  input[type="date"],
  input[type="number"],
  input[type="email"],
  input[type="pass1"],
  input[type="password"],
  select {
    background-color:  var(--grayKakeibo); 
  }
}

@media (max-width: 768px ){
  

  .main-title-login{
    color: white;
    padding: -5px;
  }
  
  .main-login{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  .main-box-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 600px;
    background-color: white;
    box-shadow: none;
  }

}



.error-style:focus {
  box-shadow: 0 0 6px darkred;
  border-color: darkred;
}

.error-style {
  box-shadow: 0 0 6px darkred;
  border-color: darkred;
}

.formulario-registro {
  background-color: var(--grayKakeibo);

    .errMsg {
      color:darkred;
      margin: 5px 20px;
    }
  
}

