.nav-movil{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #DFF7E2 !important;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logos-movil{
  width: 24px; 
  height: 24px;
  color: #093030
}
