.cancel-icon {
  position: absolute;
  top: 20px; 
  right: 30px;
  font-size: 1.7rem;
  color: var(--lightGreenKakeibo);
  cursor: pointer;
}

.cancel-icon-admin {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 1.7rem;
  color: var(--lightGreenKakeibo);
  cursor: pointer;
}
