<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/assets/electric-guitar.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/object/addObject.css">
    <title>Musicalia</title>
  </head>
  <body>
    <%- include('./includes/navbar') %>

    <div class="p-5 text-center">
      <h2>Añadir objeto a la colección</h2>
    </div>

    <section class="section">
      <div class="coleccionist d-flex flex-wrap justify-content-center">
        <div
        class="card-group  m-5 p-5 pb-5 text-center card-coleccionist"
        style="width: 38rem;">
        <div class="card-body">
      <form 
        action="/objects/addObject/<%=coleccionist_id %>"
        method="post"
        enctype="multipart/form-data"
       >
          
       <div 
       class="form-floating mb-3 formulario"
       style="width: 30.5rem;">
        <input 
        type="text" 
        name="name"
        class="form-control" 
      
        placeholder="Señor de los anillos, coches, motos...">
        <label for="floatingInput">Nombre</label>
        </div>
        <div 
               class="form-floating mb-3 formulario"
               style="width: 30.5rem;">
                <input 
                type="text" 
                name="year_adquisition"
                class="form-control" 
           
                placeholder="Señor de los anillos, coches, motos...">
                <label for="floatingInput">Año de adquisicion</label>
           </div>
           <div 
           class="form-floating mb-3 formulario"
           style="width: 30.5rem;">
            <input 
            type="text" 
            name="description"
            class="form-control" 
        
            placeholder="Señor de los anillos, coches, motos...">
            <label for="floatingInput">Descripción</label>
        <div>
            <label for="foto">imagen</label>
            <input 
                id="foto"
                type="file"
                name="img"
                hidden
            >
        </div>
        <div>
          <button onclick="window.location.href='/coleccionists/login'" class="btn btn-danger pe-4 ps-4 p-2">Cancelar</button>
         <button class="btn btn-danger pe-4 ps-4 p-2">Aceptar</button>
        </div>

      </form>
      </section>
    
    </div>

    
    <%- include('./includes/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>